<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="no_auth">
    <h1>WELCOME NON AUTH PERSON!</h1>
</div>

<div th:fragment="body_user">
    <h1>WELCOME USER</h1>
</div>

<div th:fragment="body_admin">
    <h1>WELCOME ADMIN</h1>
</div>

<div th:fragment="body_403" style="color:red;">
    <h1>403</h1>
    <h2>access denied contact your administrator</h2>
</div>

<div th:fragment="login">
    <form name="authForm" th:action="@{/j_spring_security_check}" method="post">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <table>
            <tr>
                <td>User:</td>
                <td><input type='text' name='username' value=''></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type='password' name='password'/></td>
            </tr>
            <tr>
                <td>Remember Me?</td>
                <td><input type="checkbox" name="remember-me"/></td>
            </tr>
            <tr>
                <td><input name="submit" type="submit" value="submit"/></td>
            </tr>
        </table>
    </form>
    <div th:if="${#request.getParameter('error') == 'true'}"
         style="color:red;margin:10px 0px;">
        Login Failed!!!<br/>
        Reason :
        <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
              th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
                        Static summary
                </span>
    </div>
</div>

<div th:fragment="registration">
    <h1>REGISTRATION FORM</h1>
    <div th:if="${errorMessage != null}"
         th:utext="${errorMessage}" class="error" style="color:red;">...
    </div>
    <form th:action="@{/registration}" th:object="${appUser}" method="post">
        <table>
            <tr>
                <td>User Name</td>
                <td><input type="text" th:field="*{userName}"/></td>
                <td>
                    <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">..</span>
                </td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" th:field="*{encryptedPassword}"/></td>
                <td>
                    <span th:if="${#fields.hasErrors('encryptedPassword')}" th:errors="*{encryptedPassword}">..</span>
                </td>
            </tr>
            <!--<tr>-->
            <!--<td>Confirm</td>-->
            <!--<td><input type="password" th:field="*{confirmPassword}" /> </td>-->
            <!--<td>-->
            <!--<span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">..</span>-->
            <!--</td>-->
            <!--</tr>-->
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Submit"/>
                    <a th:href="@{/}">Cancel</a>
                </td>
                <td>&nbsp;</td>
            </tr>
        </table>
    </form>
</div>
<div th:fragment="body_registerSuccessful">
    <h1>Congratulation!</h1>
    <h3>Registration is success, please login on <a href="/login">login page</a></h3>
</div>
</body>
</html>