<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>hello</title>
</head>
<body>
<b>HELLO</b>
<table border="1">
    <thead>
    <tr>
        <td>ID</td>
        <td>UserName</td>
        <td>EncryptedPassword</td>
        <td>Enabled</td>
        <td>Created</td>
        <td>LastLogin</td>
        <td>Version</td>
    </tr>
    </thead>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.userName}"></td>
        <td th:text="${user.encryptedPassword}"></td>
        <td th:text="${user.enabled}"></td>
        <td th:text="${user.created}"></td>
        <td th:text="${user.lastLogin}"></td>
        <td th:text="${user.version}"></td>
    </tr>
</table>
</body>
</html>